################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyCode/v15
/NYWHERE_APRIL_ALL.fob
